* {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  width: 700px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}

.container img {
  display: block;
  width: 550px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 0;
  -webkit-animation: reveal 3s;
          animation: reveal 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes reveal {
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
  51% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes reveal {
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
  51% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.overlay_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay_container .overlay {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.overlay_container .overlay:nth-child(1) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: overlay_1 3s ease-in-out;
          animation: overlay_1 3s ease-in-out;
}

.overlay_container .overlay:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: overlay_2 3s ease-in-out;
          animation: overlay_2 3s ease-in-out;
}

@-webkit-keyframes overlay_1 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  51% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}

@keyframes overlay_1 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  51% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}

@-webkit-keyframes overlay_2 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  51% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}

@keyframes overlay_2 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  51% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
/*# sourceMappingURL=style.css.map */